<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.granola-export</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{HOME}}/.local/bin/granola-export.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>1</integer>
        <key>Hour</key>
        <integer>10</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>{{HOME}}/Granola-Backup/.launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>{{HOME}}/Granola-Backup/.launchd.err.log</string>
</dict>
</plist>
